@font-face {
  font-family: dejavu2017;
  src: url(../fonts/BPG2017DejaVuSansCaps.ttf);
}

@font-face {
  font-family: mrg2010;
  src: url(../fonts/bpg_mrgvlovani_caps.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

* input[type=number]::-webkit-inner-spin-button,
* input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

* input[type=date]::-webkit-inner-spin-button,
* input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

* input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: mrg2010;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  padding: 0 33px;
}

.header {
  padding: 30px 0 0 0;
}

@media only screen and (max-width: 700px) {
  .header {
    padding: 25px 0 0px 0;
  }
}

.header__logo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1160px) {
  .header__logo__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .header__logo__box .header__logos {
    width: 100%;
  }
  .header__logo__box .header__logos img {
    height: 100%;
    width: 100%;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1160px) {
  .header__contact {
    display: none;
  }
}

.header__contact a {
  padding: 15px 30px;
  background: rgba(68, 67, 68, 0.02) 0% 0% no-repeat padding-box;
  color: #444344;
}

.header__contact a i {
  margin-right: 10px;
}

.header__contact .header__contact__tel {
  margin-right: 20px;
}

.header__contact .header__contact__email {
  font-family: mrg2010;
}

.header__navigation__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;
  padding: 51px calc((100% - 1170px) / 2) 31px;
  background: #fff;
}

@media only screen and (max-width: 1250px) {
  .header__navigation__box {
    padding: 51px 33px 31px;
  }
}

@media only screen and (max-width: 700px) {
  .header__navigation__box {
    padding: 37px 33px 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .header__navigation__box nav {
    display: none;
  }
}

.header__navigation__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation__ul > li {
  margin-right: 60px;
}

@media only screen and (max-width: 1175px) {
  .header__navigation__ul > li {
    margin-right: 30px;
  }
}

.header__navigation__ul > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(68, 67, 68, 0.5);
}

.header__navigation__ul > li > a:hover {
  color: #444344;
}

.header__navigation__ul > li > a i {
  margin-left: 10px;
  font-size: 12px;
  color: rgba(68, 67, 68, 0.5);
}

.header__navigation__ul > li > a.active {
  color: #444344;
}

.header__navigation__ul > li .header__navigation__dropdown__ul {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 2;
  padding: 20px 15px;
}

.header__navigation__ul > li .header__navigation__dropdown__ul li {
  padding: 5px 0px;
}

.header__navigation__ul > li .header__navigation__dropdown__ul li a {
  font-family: mrg2010;
  color: rgba(68, 67, 68, 0.5);
}

.header__navigation__ul > li .header__navigation__dropdown__ul li a:hover {
  color: #444344;
}

.header__navigation__ul > li:hover .header__navigation__dropdown__ul {
  display: block;
}

.menu__mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .menu__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__mobile_button {
  position: relative;
  height: 16px;
  width: 30px;
  cursor: pointer;
  background-color: transparrent;
}

.menu__mobile_button.active span {
  opacity: 0;
}

.menu__mobile_button.active.menu__mobile_button:before, .menu__mobile_button.active.menu__mobile_button:after {
  top: 40%;
}

.menu__mobile_button.active.menu__mobile_button:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__mobile_button.active.menu__mobile_button:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__mobile_button span, .menu__mobile_button:before, .menu__mobile_button:after {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #1e272e;
  border-radius: 3px;
  opacity: 1;
}

.menu__mobile_button:before, .menu__mobile_button:after {
  content: "";
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__mobile_button span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__mobile_button:before {
  top: 0;
}

.menu__mobile_button:after {
  top: calc(100% - 3px);
}

.header__language {
  width: 48px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__language i {
  text-align: right;
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 11px;
}

.header__language .header__language__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 18px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.header__language .header__language__content:hover {
  height: 46px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__language .header__language__content a {
  height: 18px;
  color: #444344;
  margin-bottom: 5px;
}

.cookies {
  width: 100%;
  height: 100px;
  padding: 0 33px;
  background: #fff;
  position: fixed;
  top: calc(100vh - 100px);
  z-index: 10;
}

@media only screen and (max-width: 800px) {
  .cookies {
    display: none;
  }
}

.cookies .cookies__content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies .cookies__content p {
  font-size: 16px;
  letter-spacing: 0px;
  color: #444344;
}

.cookies .cookies__content button {
  font-family: mrg2010;
  border: none;
  background: #228469;
  padding: 15px 30px;
  font-size: 13px;
  letter-spacing: 0px;
  color: #FFFFFF;
  cursor: pointer;
}

main {
  position: relative;
}

.main-swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 700px) {
  .main-swiper-slide {
    padding-top: 31px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

.main-slider-texts {
  padding-left: calc((100% - 1170px) / 2);
}

@media only screen and (max-width: 1250px) {
  .main-slider-texts {
    padding-left: 33px;
  }
}

.main-slider-title {
  margin-bottom: 50px;
  color: #228469;
  font-size: 32px;
}

@media only screen and (max-width: 700px) {
  .main-slider-title {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

.main-slider-text {
  font-family: dejavu2017;
  max-width: 470px;
  font-size: 13px;
  letter-spacing: 0.26px;
  color: #444344;
  margin-bottom: 50px;
}

@media only screen and (max-width: 700px) {
  .main-slider-text {
    font-size: 11px;
    max-width: 186px;
    margin-right: 110px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

.main-slider-seemore-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider-seemore-box .main-slider-seemore-arrow {
  width: 40px;
  height: 40px;
  border: 1px dashed #228469;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .main-slider-seemore-box .main-slider-seemore-arrow {
    width: 30px;
    height: 30px;
  }
}

.main-slider-seemore-box .main-slider-seemore-arrow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background: #228469;
}

.main-slider-seemore-box .main-slider-seemore-arrow div i {
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .main-slider-seemore-box .main-slider-seemore-arrow div i {
    font-size: 10px;
  }
}

.main-slider-seemore-box a {
  font-size: 13px;
  letter-spacing: 0px;
  color: #228469;
}

.main-slider-imgs {
  height: 804px;
  width: 476px;
  position: relative;
}

.main-slider-imgs > img {
  opacity: 0.2;
}

@media only screen and (max-width: 1180px) {
  .main-slider-imgs {
    width: 22%;
  }
}

@media only screen and (max-width: 700px) {
  .main-slider-imgs {
    height: 176px;
    width: 45px;
  }
}

.main-slide-big-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-slide-small-img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 65%;
  width: 344px;
  height: 344px;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  overflow: hidden;
}

@media only screen and (max-width: 1180px) {
  .main-slide-small-img {
    width: 181px;
    height: 181px;
    padding: 5px;
  }
}

@media only screen and (max-width: 890px) {
  .main-slide-small-img {
    right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .main-slide-small-img {
    width: 81px;
    height: 81px;
  }
}

.main-slide-small-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main-slider-thumbs {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 80%;
  padding-left: calc((100% - 1170px) / 2);
}

@media only screen and (max-width: 1250px) {
  .main-slider-thumbs {
    left: 33px;
  }
}

@media only screen and (max-width: 700px) {
  .main-slider-thumbs {
    width: 100%;
    bottom: -70px;
    left: 0;
  }
}

.main-slider-thumbs .main-swiper-thumb-swiper-slide {
  width: 100px !important;
  height: 100px;
  margin-right: 30px;
  opacity: 0.3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 50%;
  overflow: hidden;
}

.main-slider-thumbs .main-swiper-thumb-swiper-slide:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media only screen and (max-width: 700px) {
  .main-slider-thumbs .main-swiper-thumb-swiper-slide {
    width: 52px !important;
    height: 52px;
    margin-right: 15px;
  }
}

.main-slider-thumbs .main-swiper-thumb-swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main-slider-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  .main-thumbs-swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news__section {
  background: #FAFAFA 0% 0% no-repeat padding-box;
  padding: 180px 0;
}

.news__section .news {
  margin: 0 33px;
  position: relative;
}

@media only screen and (max-width: 450px) {
  .news__section {
    padding: 120px 0 89px 0;
  }
}

.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 175px;
}

@media only screen and (max-width: 700px) {
  .news__header {
    margin-bottom: 35px;
  }
}

.news__header h1 {
  font-size: 32px;
  letter-spacing: 0px;
  color: #228469;
}

@media only screen and (max-width: 700px) {
  .news__header h1 {
    font-size: 15px;
  }
}

.news__header a {
  font-size: 13px;
  letter-spacing: 0.26px;
  color: #444344;
  font-family: dejavu2017;
}

@media only screen and (max-width: 450px) {
  .news__header a {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 800px) {
  .news__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.news__items li {
  background: #fff;
  width: 350px;
  padding: 0 30px 30px 30px;
  height: 337px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.news__items li:hover {
  background: #228469;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.news__items li:hover .news__item__title, .news__items li:hover .news__item__text {
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.news__items li:hover .news__item__seemore a {
  color: #F7CE23;
}

.news__items li:hover .news__item__seemore .news-seemore-arrow {
  border: 1px dashed #F7CE23;
}

.news__items li:hover .news__item__seemore .news-seemore-arrow div {
  background: #F7CE23;
}

@media only screen and (max-width: 1150px) {
  .news__items li:nth-child(3) {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .news__items li {
    background: initial;
  }
  .news__items li:nth-child(2) {
    display: none;
  }
}

.news__items li .news__item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 232px;
  height: 232px;
  border-radius: 50%;
  padding: 10px;
  background: #FAFAFA;
}

@media only screen and (max-width: 700px) {
  .news__items li .news__item__img {
    width: 152px;
    height: 152px;
  }
}

.news__items li .news__item__img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__items li .news__item__title {
  margin-top: 30px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #228469;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media only screen and (max-width: 700px) {
  .news__items li .news__item__title {
    margin-top: 16px;
    font-size: 13px;
    text-align: center;
  }
}

.news__items li .news__item__text p {
  font-family: dejavu2017;
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media only screen and (max-width: 700px) {
  .news__items li .news__item__text p {
    font-size: 11px;
    text-align: center;
  }
}

.news__items li .news__item__seemore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__items li .news__item__seemore .news-seemore-arrow {
  width: 40px;
  height: 40px;
  border: 1px dashed #228469;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .news__items li .news__item__seemore .news-seemore-arrow {
    width: 27px;
    height: 27px;
  }
}

.news__items li .news__item__seemore .news-seemore-arrow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background: #228469;
}

.news__items li .news__item__seemore .news-seemore-arrow div i {
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .news__items li .news__item__seemore .news-seemore-arrow div i {
    font-size: 10px;
  }
}

.news__items li .news__item__seemore a {
  font-size: 13px;
  letter-spacing: 0px;
  color: #228469;
}

@media only screen and (max-width: 700px) {
  .news__items li .news__item__seemore a {
    font-size: 12px;
  }
}

.tourism__farm__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 865px;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1500px;
  }
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section {
    height: 800px;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section {
    height: 670px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
  }
}

.tourism__farm__section .tourism {
  position: relative;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .tourism {
    width: 100%;
  }
}

.tourism__farm__section .tourism:hover::after {
  opacity: 0.1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.tourism__farm__section .tourism::after {
  content: ' ';
  background-image: url(../media/img/tourism.jpg);
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.01;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .tourism::after {
    display: none;
  }
}

.tourism__farm__section .tourism .tourism__title {
  position: absolute;
  z-index: 9;
  left: 325px;
  top: 215px;
  width: 420px;
  text-align: right;
  padding-right: 40px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #444344;
  cursor: pointer;
}

@media only screen and (max-width: 1210px) {
  .tourism__farm__section .tourism .tourism__title {
    top: 50%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 120px;
    padding-right: 0px;
    color: #fff;
  }
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .tourism .tourism__title {
    width: 100%;
    text-align: center;
    left: 0;
    top: 56%;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .tourism .tourism__title {
    top: 42%;
  }
}

.tourism__farm__section .tourism .tourism__imgs {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 100%;
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 540px;
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__1 {
  left: -29px;
  width: 800px;
}

@media only screen and (max-width: 1210px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__1 {
    display: none;
  }
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__2 {
  left: -60px;
  width: 580px;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__2 {
    display: none;
  }
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__3 {
  -webkit-transform: rotate(45deg) translate(0%, -50%);
          transform: rotate(45deg) translate(0%, -50%);
  height: 410px;
  width: 410px;
  left: -150px;
  top: 371px;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__3 {
    left: 45%;
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
            transform: rotate(45deg) translate(-50%, 0%);
  }
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__3 {
    height: 200px;
    width: 200px;
    top: 200px;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__3 {
    top: 120px;
  }
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__3 img {
  -webkit-transform: rotate(-45deg) translate(0%, -23%);
          transform: rotate(-45deg) translate(0%, -23%);
  height: 145%;
  width: 145%;
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__4 {
  -webkit-transform: rotate(45deg) translate(0%, -50%);
          transform: rotate(45deg) translate(0%, -50%);
  height: 410px;
  width: 410px;
  left: -230px;
  top: 371px;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__4 {
    left: 40%;
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
            transform: rotate(45deg) translate(-50%, 0%);
  }
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__4 {
    height: 200px;
    width: 200px;
    top: 200px;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__4 {
    top: 120px;
  }
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__4 .tourism__decore {
  position: absolute;
  height: 480px;
  width: 400px;
  right: -109px;
  bottom: -142px;
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .tourism .tourism__imgs .toursim__img__4 .tourism__decore {
    height: 200px;
    width: 200px;
    right: -60px;
    bottom: -60px;
  }
}

.tourism__farm__section .tourism .tourism__imgs .toursim__img__4 img {
  -webkit-transform: rotate(-45deg) translate(0%, -23%);
          transform: rotate(-45deg) translate(0%, -23%);
  height: 145%;
  width: 145%;
}

.tourism__farm__section .farm {
  position: relative;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .farm {
    width: 100%;
  }
}

.tourism__farm__section .farm:hover::after {
  opacity: 0.1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.tourism__farm__section .farm::after {
  content: ' ';
  background-image: url(../media/img/sl4.jpg);
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.01;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .farm::after {
    display: none;
  }
}

.tourism__farm__section .farm .farm__title {
  position: absolute;
  z-index: 9;
  bottom: 257px;
  width: 420px;
  right: 350px;
  text-align: left;
  padding-left: 40px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #444344;
  cursor: pointer;
}

@media only screen and (max-width: 1210px) {
  .tourism__farm__section .farm .farm__title {
    bottom: 47%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    right: 70px;
    padding-left: 0px;
    color: #fff;
    width: 200px;
  }
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .farm .farm__title {
    width: 100%;
    text-align: center;
    left: 0;
    top: 56%;
  }
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .farm .farm__title {
    width: 200px;
    left: 47%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 52%;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .farm .farm__title {
    width: 158px;
    left: 50%;
    -webkit-transform: translate(-50%, 0px);
            transform: translate(-50%, 0px);
    top: 35%;
  }
}

.tourism__farm__section .farm .farm__imgs {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 100%;
}

.tourism__farm__section .farm .farm__imgs .farm__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tourism__farm__section .farm .farm__imgs .farm__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tourism__farm__section .farm .farm__imgs .farm__img__1 {
  right: -30px;
  width: 800px;
}

@media only screen and (max-width: 1210px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__1 {
    display: none;
  }
}

.tourism__farm__section .farm .farm__imgs .farm__img__2 {
  right: -60px;
  width: 580px;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__2 {
    display: none;
  }
}

.tourism__farm__section .farm .farm__imgs .farm__img__3 {
  -webkit-transform: rotate(45deg) translate(0%, -50%);
          transform: rotate(45deg) translate(0%, -50%);
  height: 410px;
  width: 410px;
  right: 140px;
  top: 371px;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__3 {
    left: 45%;
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
            transform: rotate(45deg) translate(-50%, 0%);
  }
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__3 {
    height: 200px;
    width: 200px;
    top: 200px;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__3 {
    top: 120px;
  }
}

.tourism__farm__section .farm .farm__imgs .farm__img__3 img {
  -webkit-transform: rotate(-45deg) translate(0%, -23%);
          transform: rotate(-45deg) translate(0%, -23%);
  height: 145%;
  width: 145%;
}

.tourism__farm__section .farm .farm__imgs .farm__img__4 {
  -webkit-transform: rotate(45deg) translate(0%, -50%);
          transform: rotate(45deg) translate(0%, -50%);
  height: 410px;
  width: 410px;
  right: 60px;
  top: 371px;
  overflow: hidden;
}

@media only screen and (max-width: 1050px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__4 {
    left: 40%;
    -webkit-transform: rotate(45deg) translate(-50%, 0%);
            transform: rotate(45deg) translate(-50%, 0%);
  }
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__4 {
    height: 200px;
    width: 200px;
    top: 200px;
  }
}

@media only screen and (max-width: 450px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__4 {
    top: 120px;
  }
}

.tourism__farm__section .farm .farm__imgs .farm__img__4 .farm__decore {
  position: absolute;
  height: 480px;
  width: 400px;
  right: 4px;
  bottom: -225px;
}

@media only screen and (max-width: 700px) {
  .tourism__farm__section .farm .farm__imgs .farm__img__4 .farm__decore {
    height: 200px;
    width: 200px;
    right: -30px;
    bottom: -91px;
  }
}

.tourism__farm__section .farm .farm__imgs .farm__img__4 img {
  -webkit-transform: rotate(-45deg) translate(0%, -23%);
          transform: rotate(-45deg) translate(0%, -23%);
  height: 145%;
  width: 145%;
}

.blog__section {
  padding: 180px 0;
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 550px) {
  .blog__section {
    padding: 20px 0 0 0;
  }
}

.blog__section .blog__title {
  padding: 0 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 550px) {
  .blog__section .blog__title {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 1250px) {
  .blog__section .blog__title {
    padding: 0 33px;
  }
}

.blog__section .blog__title h1 {
  font-size: 32px;
  letter-spacing: 0px;
  color: #228469;
}

@media only screen and (max-width: 550px) {
  .blog__section .blog__title h1 {
    font-size: 15px;
  }
}

.blog__section .blog__title a {
  font-size: 13px;
  letter-spacing: 0.26px;
  color: #444344;
  font-family: dejavu2017;
}

@media only screen and (max-width: 550px) {
  .blog__section .blog__title a {
    display: none;
  }
}

.blog__section .blogs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

@media only screen and (max-width: 850px) {
  .blog__section .blogs li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media only screen and (max-width: 550px) {
  .blog__section .blogs li {
    margin-bottom: 0px;
    padding-bottom: 30px;
  }
}

.blog__section .blogs li .blog__img {
  width: 50%;
  height: 260px;
}

@media only screen and (max-width: 850px) {
  .blog__section .blogs li .blog__img {
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  .blog__section .blogs li .blog__img {
    height: 135px;
  }
}

.blog__section .blogs li .blog__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__section .blogs li .blog__text {
  width: 50%;
  padding-left: 130px;
  padding-right: 33px;
}

@media only screen and (max-width: 850px) {
  .blog__section .blogs li .blog__text {
    width: 90%;
    padding: 0 33px;
    margin-top: 18px;
  }
}

.blog__section .blogs li .blog__text .blob__list__title {
  max-width: 470px;
  font-size: 18px;
  letter-spacing: 0px;
  color: #228469;
  margin-bottom: 16px;
}

@media only screen and (max-width: 850px) {
  .blog__section .blogs li .blog__text .blob__list__title {
    width: 100%;
    max-width: initial;
  }
}

@media only screen and (max-width: 550px) {
  .blog__section .blogs li .blog__text .blob__list__title {
    font-size: 15px;
  }
}

.blog__section .blogs li .blog__text .blob__list__text {
  font-family: dejavu2017;
  max-width: 370px;
  font-size: 13px;
  letter-spacing: 0.26px;
  color: #444344;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media only screen and (max-width: 850px) {
  .blog__section .blogs li .blog__text .blob__list__text {
    width: 100%;
    max-width: initial;
  }
}

@media only screen and (max-width: 550px) {
  .blog__section .blogs li .blog__text .blob__list__text {
    font-size: 13px;
  }
}

.blog__section .blogs .blog__2 {
  padding: 33px;
  background: #fff;
}

@media only screen and (max-width: 850px) {
  .blog__section .blogs .blog__2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px 0 30px 33px;
    background: initial;
  }
  .blog__section .blogs .blog__2 .blog__text {
    padding-left: 0;
  }
  .blog__section .blogs .blog__2 .blog__img {
    position: relative;
    right: 0;
    width: 100%;
  }
}

.statement__section {
  padding-bottom: 180px;
  background: #FAFAFA 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 750px) {
  .statement__section {
    padding-bottom: 0px;
  }
}

.statement {
  background: #fff;
  padding: 0 calc((100% - 1170px) / 2) 50px;
}

@media only screen and (max-width: 1250px) {
  .statement {
    padding: 0 33px;
  }
}

@media only screen and (max-width: 750px) {
  .statement {
    background: initial;
  }
}

.statement__title {
  font-size: 32px;
  letter-spacing: 0px;
  color: #228469;
  margin: 70px 0 60px 0;
}

@media only screen and (max-width: 1000px) {
  .statement__title {
    font-size: 15px;
  }
}

@media only screen and (max-width: 550px) {
  .statement__title {
    margin: 0;
    padding: 40px 0 40px 0;
  }
}

.statement__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media only screen and (max-width: 1000px) {
  .statement__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .statement__content {
    margin-bottom: 0px;
    padding-bottom: 60px;
  }
}

.statement__imgs {
  position: relative;
  width: 47%;
}

@media only screen and (max-width: 1000px) {
  .statement__imgs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 650px) {
  .statement__imgs {
    margin-bottom: 47px;
  }
}

.statement__imgs .statement__img {
  width: 400px;
  height: 247px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .statement__imgs .statement__img {
    width: 48%;
  }
}

.statement__imgs .statement__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 650px) {
  .statement__imgs .statement__img {
    height: 82px;
  }
}

.statement__imgs .statement__img__round {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
  width: 288px;
  height: 288px;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
}

.statement__imgs .statement__img__round img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .statement__imgs .statement__img__round {
    top: 80%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

@media only screen and (max-width: 650px) {
  .statement__imgs .statement__img__round {
    width: 104px;
    height: 104px;
  }
}

.statement__text {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .statement__text {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .statement__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 1000px) {
  .statement__text .statement__text__img {
    display: none;
  }
}

.statement__text .state__title {
  font-size: 16px;
  letter-spacing: 0px;
  color: #444344;
  text-transform: uppercase;
  margin: 30px 0 16px 0;
}

.statement__text .state__link a {
  font-size: 13px;
  letter-spacing: 0px;
  color: #228469;
  text-transform: uppercase;
  margin-right: 20px;
}

footer {
  background: #228469 0% 0% no-repeat padding-box;
  padding: 100px 33px 60px 33px;
}

@media only screen and (max-width: 670px) {
  footer {
    padding: 40px 33px 40px 33px;
  }
}

footer .footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 750px) {
  footer .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer__top nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 70vw;
}

@media only screen and (max-width: 880px) {
  footer .footer__top nav {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 750px) {
  footer .footer__top nav {
    width: 100%;
  }
}

footer .footer__top nav a {
  font-family: dejavu2017;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media only screen and (max-width: 550px) {
  footer .footer__top nav a {
    font-size: 13px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 750px) {
  footer .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer__contact a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 750px) and (max-width: 550px) {
  footer .footer__contact a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 750px) {
  footer .footer__contact a div {
    margin-bottom: 15px;
  }
}

footer .footer__contact__tel, footer .footer__contact__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  color: #fff;
  font-size: 16px;
}

footer .footer__contact__email__icon, footer .footer__contact__tel__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #DEE0D7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  color: #fff;
}

@media only screen and (max-width: 550px) {
  footer .footer__contact__email__icon, footer .footer__contact__tel__icon {
    width: 34px;
    height: 34px;
  }
  footer .footer__contact__email__icon i, footer .footer__contact__tel__icon i {
    font-size: 12px;
  }
}

footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(222, 224, 215, 0.1);
}

@media only screen and (max-width: 520px) {
  footer .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  footer .footer__bottom p {
    margin-bottom: 20px;
  }
}

footer .footer__bottom p, footer .footer__bottom a {
  font-size: 14px;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-family: dejavu2017;
}

footer .footer__bottom a span {
  color: #F7CE23;
}
/*# sourceMappingURL=style.css.map */